#TopContent_Image1 {
  top: 0px;
  position: absolute;
}

#TopContent_Image1 {
  left: 40px;
  position: absolute;
}

#TopContent_Image1 {
  width: 200px;
}

#TopContent_Image1 {
  height: 180px;
}

#TopContent_Image1 {
  z-index: 0;
}

#TopContent_btnLogin {
  top: 15px;
  position: absolute;
}

#TopContent_btnLogin {
  left: 300px;
  position: absolute;
}

#TopContent_btnLogin {
  width: 180px;
}

#TopContent_btnLogin {
  height: 120px;
}

#TopContent_btnLogin {
  z-index: 1;
}

#TopContent_btnLogin:not(.disabled):not(.active):not(.checked) {
  background-color: #ff8000;
}

#TopContent_btnLogin span {
  font-size: 20px;
}

#TopContent_btnLogin span {
  font-weight: bold;
}

#TopContent_lblLoggedIn {
  height: 30px;
}

#TopContent_lblLoggedIn {
  top: 60px;
  position: absolute;
}

#TopContent_lblLoggedIn {
  left: 500px;
  position: absolute;
}

#TopContent_lblLoggedIn {
  width: 220px;
}

#TopContent_lblLoggedIn {
  z-index: 2;
}

#TopContent_lblLoggedIn {
  font-size: 18px;
}

#TopContent_TextOutput1 {
  height: 30px;
}

#TopContent_TextOutput1 {
  top: 60px;
  position: absolute;
}

#TopContent_TextOutput1 {
  left: 700px;
  position: absolute;
}

#TopContent_TextOutput1 {
  width: 260px;
}

#TopContent_TextOutput1 {
  z-index: 3;
}

#TopContent_TextOutput1 {
  font-size: 18px;
}

#TopContent_btnLogout {
  top: 15px;
  position: absolute;
}

#TopContent_btnLogout {
  left: 1080px;
  position: absolute;
}

#TopContent_btnLogout {
  width: 180px;
}

#TopContent_btnLogout {
  height: 120px;
}

#TopContent_btnLogout {
  z-index: 4;
}

#TopContent_btnLogout:not(.disabled):not(.active):not(.checked) {
  background-color: #ff8000;
}

#TopContent_btnLogout span {
  font-size: 20px;
}

#TopContent_btnLogout span {
  font-weight: bold;
}
