#mViSaveAs_textInApplicationName {
  top: 40px;
  position: absolute;
}

#mViSaveAs_textInApplicationName {
  left: 92px;
  position: absolute;
}

#mViSaveAs_textInApplicationName {
  width: 620px;
}

#mViSaveAs_textInApplicationName {
  height: 40px;
}

#mViSaveAs_textInApplicationName {
  z-index: 1;
}

#mViSaveAs_Label6 {
  top: 40px;
  position: absolute;
}

#mViSaveAs_Label6 {
  left: 28px;
  position: absolute;
}

#mViSaveAs_Label6 {
  width: 64px;
}

#mViSaveAs_Label6 {
  height: 40px;
}

#mViSaveAs_Label6 {
  z-index: 2;
}

#mViSaveAs_Label6 {
  font-size: 16px;
}

#mViSaveAs_Label6 {
  font-weight: bold;
}

#mViSaveAs_Label6 span {
  padding: 0px;
}

#mViSaveAs_buttonSaveApplication {
  top: 160px;
  position: absolute;
}

#mViSaveAs_buttonSaveApplication {
  left: 535px;
  position: absolute;
}

#mViSaveAs_buttonSaveApplication {
  width: 176px;
}

#mViSaveAs_buttonSaveApplication {
  height: 55px;
}

#mViSaveAs_buttonSaveApplication {
  z-index: 3;
}

#mViSaveAs_buttonCancel {
  top: 160px;
  position: absolute;
}

#mViSaveAs_buttonCancel {
  left: 30px;
  position: absolute;
}

#mViSaveAs_buttonCancel {
  width: 176px;
}

#mViSaveAs_buttonCancel {
  height: 55px;
}

#mViSaveAs_buttonCancel {
  z-index: 4;
}

#mViSaveAs_Rectangle2 {
  top: -32px;
  position: absolute;
}

#mViSaveAs_Rectangle2 {
  left: -64px;
  position: absolute;
}

#mViSaveAs_Rectangle2 {
  width: 892px;
}

#mViSaveAs_Rectangle2 {
  height: 303px;
}

#mViSaveAs_Rectangle2 {
  z-index: 0;
}

#mViSaveAs_Rectangle2 {
  border-width: 3px;
}

#mViSaveAs_Rectangle2 {
  border-radius: 15px;
}

#mViSaveAs_Rectangle2 {
  border-color: rgba(192, 192, 192, 0.5);
}

#mViSaveAs_Rectangle2 {
  background-color: #f0f0f0;
}

#mViSaveAs_Rectangle2 {
  opacity: 0.8;
}

#mViSaveAs_textOutSaveAsError {
  top: 80px;
  position: absolute;
}

#mViSaveAs_textOutSaveAsError {
  left: 92px;
  position: absolute;
}

#mViSaveAs_textOutSaveAsError {
  width: 372px;
}

#mViSaveAs_textOutSaveAsError {
  height: 20px;
}

#mViSaveAs_textOutSaveAsError {
  z-index: 5;
}

#mViSaveAs_textOutSaveAsError span {
  color: red;
}

#mViSaveAs_textOutSaveAsError {
  font-weight: normal;
}

#mViSaveAs_textOutSaveAsError span {
  padding: 0px 0px 0px 0px;
}
